{
  "parser": "babel-eslint",
  "globals": {
    "jQuery": true,
    "ReactDOM": true,
    "React": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended"
}
